    <header id="admin-header">

  <nav >
    <div class="nav-leftside">
      <a href="/user"> <img  style="border-radius: 50%;" src="/images/logo.jpg" alt="images" /></a>

    </div>

    {{#if adminLogginPage}}

      <h5 class="admin-panel-text">Adminpanel &nbsp;&nbsp;</h5>

    {{else}}
<div style="display:flex;gap:15px;align-items:center">
      <div class="menu">
        <ul>
          <li class="bx bxs-home" style="color: #ffffff"><a href="/admin/edit-page" style="color: #ffffff">&nbsp;Home</a></li>  
          <li class="bx bx-heart" style="color: #ffffff"><a href="/admin/edit-page" style="color: #ffffff">&nbsp;Wishlist</a></li>  
          <li class="bx bx-cart" style="color: #ffffff">
            {{#if userLoggin}}
  <span id="cart-count" style="font-size: 10px;background-color:#eb227ddb ;" class="position-absolute  start-100 translate-middle badge rounded-pill ">
{{cartCount}}
  </span>
  {{/if}}  
  <a href="/admin/cart" style="color: #ffffff">&nbsp;Cart</a></li>
          
          <li class="bx bx-user" style="color: #ffffff"><a href="/admin/edit-page" style="color: #ffffff">&nbsp;Orders</a></li>  
          
         

        </ul>
      </div>
  {{#if userLoggin}}
      <div class="login-btn">
        <a
          href="user/signin"
          type="button"
          class="btn nav-btn"
        >Signin</a>
      </div>
      
         {{else}}
         <div class="login-btn">
        <a
          href="user/signout"
          type="button"
          class="btn nav-btn"
        >Signout</a>
      </div>
 {{/if}}

</div>
    {{/if}}

  </nav>
</header>
